@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import '../assets/volt-vue-vars.css';

@font-face {
    font-family: 'Poker';
    src: url('../assets/fonts/Poker.ttf') format('truetype');
}

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant safari (&:where(.safari, .safari *));

@theme {
    --breakpoint-xs: 24rem;
}
